@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif ;
    box-sizing: border-box;
    color: #fff;
}
.container{
    width :100%;
    min-height: 100vh;
    background:linear-gradient(135deg,rgba(0,0,0,1),rgb(20, 4, 67));
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    
}
.todo-app{
    width: 100%;
    max-width: 540px;
    font-family: cursive;
    font-size: larger;
    background: linear-gradient(rgba(57, 14, 139, 0.5),rgb(26, 1, 38)),url(images/background2.jpg);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border: 2px solid grey;
    background-repeat: no-repeat;
    background-size: cover;

   
    
}
h2{
    color: rgb(232, 232, 232);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    position: relative;
    bottom: 20px;
}
#icon{
    width:3rem;
    margin-left: auto;
    border-radius: 10px;
    position: relative;
    top: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background: #fff;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 1px solid grey;
}
input{
    flex: 1;
    border: none;
    outline: none;
    color: #555;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border:1px solid grey;
    outline: none;
    padding: 16px 50px;
    background:linear-gradient(135deg,rgba(6, 27, 183,0.4) 7%,rgb(22, 5, 76));
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
     color: chocolate;
     background-color: #555;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-family: 'Dancing Script', cursive;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover ;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: chocolate;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    color: chocolate;
}